{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "0.12"
            }
          }
        ],
        "flow"
      ]
    }
  }
}
